profiles {

  singularity {
    singularity.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.27'

  }

  local {
  	docker.enabled = true
    process.container = 'oncornalab/primerxl_circ_jav:latest'

  }

  ONT_JAV {
    params.output_dir = "/Users/mariekevromman/Documents/PhD/primer_tool_dev/primers_JAV/20220421/output"
    params.input_bed = "/Users/mariekevromman/Documents/PhD/primer_tool_dev/primers_JAV/20220421/in.bed"
    params.index_fasta = "/Users/mariekevromman/Documents/PhD/primer_tool_dev/CIRCprimerXL/assets/GRCh38/index_fastahack"
    params.index_fasta_name = "GRCh38.dna.primary_assembly.fa"
    params.index_bowtie = "/Users/mariekevromman/Documents/PhD/primer_tool_dev/CIRCprimerXL/assets/GRCh38/index_bowtie"
    params.index_bowtie_name = "GRCh38_dna"
    params.known_exons = "/Users/mariekevromman/Documents/PhD/primer_tool_dev/CIRCprimerXL/assets/GRCh38/known_exons_GRCh38_small.bed"
    params.min_tm = 60
    params.max_tm = 70
    params.opt_tm = 65
    params.min_gc = 40
    params.splice = 'no'
  }

  example {
    docker.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.27'
    params.output_dir = "$baseDir/example/output"
    params.input_bed = "$baseDir/example/input_circRNAs.bed"
    params.index_fasta = "$baseDir/example/GRCh38/index_fastahack"
    params.index_fasta_name = "GRCh38.dna.primary_assembly_small.fa"
    params.index_bowtie = "$baseDir/example/GRCh38/index_bowtie"
    params.index_bowtie_name = "GRCh38_dna_small"
    params.known_exons = "$baseDir/example/GRCh38/known_exons_GRCh38_small.bed"
  }

  nf_runner {
    docker.enabled = false
  }

  
}